# Setup

## Import Libaries

In [1]:
import pandas as pd
import sqlite3
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.corpus import stopwords

## Convert db file to Pandas Dataframe

In [2]:
con = sqlite3.connect('./discord scraper/Discord Scrapes/text.db')

In [3]:
cursor = con.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
table_name = cursor.fetchall()[0][0]

In [4]:
db = pd.read_sql_query(f"SELECT name, content, timestamp FROM {table_name}", con)

In [5]:
db

,name,content,timestamp
0,QuantumEnno#5661,why tf swain looks like the guy from call the ...,2020-11-09T03:23:48.052000+00:00
1,3R1CF4N#5701,<:WEIRD:665202887009501192>,2020-11-09T03:25:44.219000+00:00
2,Jay123lol#1296,https://cdn.discordapp.com/attachments/7236198...,2020-11-09T03:27:21.705000+00:00
3,fears#3642,anyone down for some ranked? gold,2020-11-09T03:29:10.062000+00:00
4,fears#3642,or norms,2020-11-09T03:29:30.557000+00:00
...,...,...,...
17050,lauv#0444,thats what i call a clown fiesta,2020-06-25T02:37:50.161000+00:00
17051,skux#6149,you still playing morg jg arazorias?,2020-06-25T02:38:10.499000+00:00
17052,Arazorias#8819,https://cdn.discordapp.com/attachments/5318526...,2020-06-25T02:38:21.398000+00:00
17053,Arazorias#8819,nah morg jungle doesnt honestly feel too good ...,2020-06-25T02:38:40.738000+00:00
17054,Arazorias#8819,mostly because people tilt too easily at seein...,2020-06-25T02:38:54.969000+00:00

In [7]:
db.to_csv('../data/scraped data/league_discord_2.csv')

# Data Preprocessing

# Bag of Words

In [6]:
count_vectorizer = CountVectorizer(analyzer='word', stop_words=stopwords.words('english'))
X_bag = pd.DataFrame(count_vectorizer.fit_transform(db['content']).toarray(),
                     columns=count_vectorizer.get_feature_names())

In [7]:
X_bag.shape

(2071, 3577)

In [8]:
len(X_bag.columns)

3577

In [38]:
X_bag

,00,000,01,02,022dcb46bceba00cc953aae4eaa13df7,03,04,06,07,09,...,zipline,zowie,zvfyr4n,zxvytel7ow4,αδερφε,αν,κανα,στειλε,φες,ⰴⱃⰴⰰ
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2066,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2067,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2068,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2069,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2070,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Tf-idf

In [21]:
tfidf_vectorizer = TfidfVectorizer(analyzer='word', stop_words=stopwords.words('english'))
X_tfidf = pd.DataFrame(tfidf_vectorizer.fit_transform(db['content']).toarray(),
                 columns = tfidf_vectorizer.get_feature_names())

In [22]:
X_tfidf.shape

(2071, 3577)

In [23]:
X_tfidf.head()

,00,000,01,02,022dcb46bceba00cc953aae4eaa13df7,03,04,06,07,09,...,zipline,zowie,zvfyr4n,zxvytel7ow4,αδερφε,αν,κανα,στειλε,φες,ⰴⱃⰴⰰ
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0